body {
  position: relative;
}

td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  height: 300px;

  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  border-radius: 6px;
}
/*
td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}
*/

td-card .image {
  position: relative;
}

td-card img {
  max-width: 100%;
  border-radius: 6px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

/* Tutorial Page */

#logo {
  margin-top: 10%;
}

#logo img {
  height: 50px;
}

.tutorial {
  text-align: center;
  width: 100%;
  padding: 0 32px;
  background-image: url("../imgs/bg.jpg");
  background-position: center;
}

.tips {
  color: white;
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.85;
}

button {
  border-radius: 100px;
  background-color: #FC4B4D;
  color: #fff;
  box-shadow: none;
  border: 0px;
  width: 100%;
  max-width: 320px;
  font-size: 20px;
  padding: 16px 32px;
}

/* Main Page */

#ctas {
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-top: 420px;
}

a.circle {
  border-radius: 100px;
  background-color: white;
  border: 7px solid rgba(0,0,0,0.05);
  display: inline-block;
}


.name {
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-size: 24px;
  color: white;
}

#ctas img {
  height: 36px;
  margin: 45px;
}

.bar-default img {
  height: 25px;
  margin-top: 10px;
}
