<section class="match">
	<div class="inner_containers">
		<div class="header_modal">
			<h1>It's a match</h1>
			<p>You and {{oppponent_name}} are now adversary</p>
		</div>
		<div class="body_modal">
			<div class="left">
				<div class="user_image" [style.backgroundImage]="'url(' + server_url + owner_avatar + ')'" ></div>
			</div>
			<div class="rigth">
				<div class="user_image" [style.backgroundImage]="'url(' + server_url + oppponent_avatar + ')'" ></div>
			</div>
		</div>
	</div>
</section>